# ===============================
# SERVER
# ===============================
HOST=
PORT=
NODE_ENV=

# ===============================
# SECURITY KEYS 
# ===============================
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
JWT_SECRET=
FONNTE_TOKEN=

# ===============================
# DATABASE (MySQL - Local)
# ===============================
DATABASE_CLIENT=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=

NEXT_PUBLIC_STRAPI_URL=
FONNTE_TOKEN=